- hosts: all
  become: yes
  gather_facts: false
  remote_user: ec2-user

  vars:
    ansible_python_interpreter: /usr/bin/python3

  tasks:

    # Swap
    - name: Disable swap immediately
      raw: swapoff -a || true

    - name: Disable swap permanently
      raw: sed -i.bak '/ swap /s/^/#/' /etc/fstab

    # Kernel modules
    - name: Load kernel modules config
      copy:
        dest: /etc/modules-load.d/k8s.conf
        content: |
          overlay
          br_netfilter

    - name: Load kernel modules
      raw: |
        modprobe overlay
        modprobe br_netfilter

    # Sysctl
    - name: Apply sysctl params
      copy:
        dest: /etc/sysctl.d/k8s.conf
        content: |
          net.bridge.bridge-nf-call-iptables = 1
          net.ipv4.ip_forward = 1

    - name: Reload sysctl
      raw: sysctl --system

    # Container runtime
    - name: Install containerd
      dnf:
        name: containerd
        state: present

    - name: Configure containerd
      raw: |
        mkdir -p /etc/containerd
        containerd config default > /etc/containerd/config.toml
        sed -i 's/SystemdCgroup = false/SystemdCgroup = true/' /etc/containerd/config.toml

    - name: Restart containerd
      service:
        name: containerd
        state: restarted
        enabled: yes