- hosts: master
  become: yes
  gather_facts: no

  tasks:
    - name: Initialize Kubernetes master
      command: kubeadm init --pod-network-cidr=10.244.0.0/16 --ignore-preflight-errors=all

    - name: Setup kubeconfig for ec2-user
      command: >
        bash -c "mkdir -p /home/ec2-user/.kube &&
        cp /etc/kubernetes/admin.conf /home/ec2-user/.kube/config &&
        chown ec2-user:ec2-user /home/ec2-user/.kube/config"

    - name: Install Flannel network
      command: kubectl apply -f https://raw.githubusercontent.com/flannel-io/flannel/master/Documentation/kube-flannel.yml
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf

    - name: Get join command
      command: kubeadm token create --print-join-command
      register: join_cmd

    - name: Save join command to file
      copy:
        dest: /tmp/kubeadm_join.sh
        content: "{{ join_cmd.stdout }}"