- hosts: workers
  become: yes
  gather_facts: yes

  tasks:
    - name: Copy join command from master
      copy:
        src: /tmp/kubeadm_join.sh
        dest: /tmp/kubeadm_join.sh
        mode: '0755'

    - name: Join cluster
      command: sh /tmp/kubeadm_join.sh